extends layout

block content
  if currentUser
    section(class="user")
      nav(class="user__nav")
        ul(class="user__list")
          li
            a(class="user__nav--link" href="/log-out") LOG OUT
          li
            a(class="user__nav--link" href="/new-message") NEW MESSAGE
          li
            ul(class="user__list--inner")
              li
                a(class="user__nav--link" href="/member") MEMBER ACCESS
              li
                a(class="user__nav--link" href='admin') ADMIN ACCESS
      ul(class="browser__messages")
        each message in messages
          li(class="browser__message")
            div(class="browser__message--user")
              p(class=`character ${message.user.character}`)
              p #{message.user.username}
            div(class="browser__message--info")
              p(class="browser__message--title") #{message.subject}
              p #{message.message}
              p #{message.messageDate}


  else 
    section(class="browser")  
      nav(class="browser__nav")
        ul(class="browser__list")
          li
            a(class="browser__nav--link" href="/sign-up") SIGN UP
          li 
            a(class="browser__nav--link" href="/log-in") LOG IN
      ul(class="browser__messages")
        each message in messages
          li(class="browser__message")
            div(class="browser__message--user")
              p(class=`character ${message.user.character}`)
              p Anonymous
            div(class="browser__message--info")
              p(class="browser__message--title") #{message.subject}
              p #{message.message}
              p #{message.messageDate}
